body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    text-align: center;
}

.content,
.builds,
.boon-condi-container,
.builds-box,
.build,
.inner,
.player-box,
.player,
.modal-body,
.party-row,
#modal-name-form {
    display: flex;
}

p {
    text-align: center;
    margin: 0;
    font-size: small;
}

.icon {
    width: 28px;
    height: 28px;
}

.title {
    text-align: center;
    font-size: 60px;
    padding: 32px;
}

.content,
.boon-condi-container {
    justify-content: space-evenly;
}

.boon-condi-container,
.builds-box,
.player,
#modal-name-form {
    flex-direction: column;
}

.builds-container,
.squad-container,
.boons-container,
.condi-container,
.support,
.damage,
.celestial,
.other,
.modal-support,
.modal-damage,
.modal-celestial,
.modal-other,
.build,
.party-box {
    border: 3px solid #000000;
    border-radius: 5px;
    margin: 5px;
    align-self: center;
}

.builds-container {
    width: 30%;
}

.builds {
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.builds-box,
.build {
    padding: 5px;
}

.support img,
.modal-support img,
.support-player {
    background-color: rgba(19, 129, 231, 0.445);
}

.damage img,
.modal-damage img,
.damage-player {
    background-color: rgba(0, 0, 0, 0.452);
}

.celestial img,
.modal-celestial img,
.celestial-player {
    background-color: rgba(213, 113, 243, 0.267);
}

.other img,
.modal-other img,
.other-player {
    background-color: rgba(221, 224, 28, 0.404);
}

.build:hover {
    background: #ffffff;
}

.builds-box {
    width: 95%;
}

.inner {
    flex-wrap: wrap;
    justify-content: center;
}

.player-box {
    flex-direction: column;
    background: rgba(0, 0, 0, 0);
    border: none;
    width: 70px;
    height: 70px;
    padding: 0;
    margin: 0;
    position: relative;
}

.empty {
    border: 1px dashed #000000;
}

.player-box img {
    width: 30px;
    height: 30px;
}

.player {
    border: 2px solid #000000;
    border-radius: 5px;
    width: 68px;
    height: 68px;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.player-name {
    max-width: 68px;
    max-height: 68px;
    word-wrap: break-word;
}

.squad-container {
    border: 2px solid #000000;
    display: grid;
    grid-template-rows: repeat(10, 80px);
    padding: 5px;
    justify-content: center;
    align-content: center;
}

.party-row > div {
    margin: 2px;
}

.party-row > h2 {
    max-width: 10px;
    padding-right: 20px;
    padding-left: 3px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
}

.modal-body {
    justify-content: center;
}

.modal-chosen {
    background: rgba(30, 224, 56, 0.829) !important;
}


.close-modal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modal-name-form,
label {
    margin: 10px;
}

input[type=text] {
    width: 100%;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=submit] {
    width: 100%;
    background-color: #56148d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #7a46ce;
}