body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    text-align: center;
}

.content,
.builds,
.boon-condi-container,
.builds-box,
.build,
.inner,
.player-box,
.player {
    display: flex;
}

p {
    text-align: center;
    margin: 0;
}

.icon {
    width: 28px;
    height: 28px;
}

.title {
    text-align: center;
    font-size: 60px;
    padding: 32px;
}

.content,
.boon-condi-container {
    justify-content: space-evenly;
}

.boon-condi-container,
.builds-box,
.player {
    flex-direction: column;
}

.builds-container,
.squad-container,
.boons-container,
.condi-container,
.support,
.damage,
.celestial,
.other,
.build,
.party-box {
    border: 3px solid #000000;
    border-radius: 5px;
    margin: 5px;
    align-self: center;
}

.builds-container {
    width: 25%;
}

.builds {
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.builds-box,
.build {
    padding: 5px;
}

.support img,
.support-player {
    background-color: rgba(19, 129, 231, 0.445);
}

.damage img,
.damage-player {
    background-color: rgba(0, 0, 0, 0.452);
}

.celestial img,
.celestial-player {
    background-color: rgba(213, 113, 243, 0.267);
}

.other img,
.other-player {
    background-color: rgba(221, 224, 28, 0.404);
}

.build:hover {
    background: #ffffff;
}

.builds-box {
    width: 95%;
}

.inner {
    flex-wrap: wrap;
    justify-content: center;
}

.player-box {
    flex-direction: column;
    background: rgba(0,0,0,0);
    border: none;
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
    position: relative;
}

.empty {
    border: 1px dashed #000000;
}

.player-box img {
    width: 30px;
    height: 30px;
}

.player {
    border: 2px solid #000000;
    border-radius: 5px;
    width: 59px;
    height: 59px;
    align-items: center;
    justify-content: center;
    z-index: -1;
}


.squad-container {
    border: 2px solid #000000;
    display: grid;
    grid-template-columns: repeat(5, 67px);
    grid-template-rows: repeat(10, 67px);
    padding-top: 5px;
    padding-left: 5px;
    justify-content: center;
    align-content: center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close-modal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-modal:hover,
  .close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }